name: CI/CD

on: [push, pull_request, workflow_dispatch]
env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dkotlin.incremental=false -Dkotlin.compiler.execution.strategy=in-process

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      is_snapshot: ${{ steps.setup.outputs.is_snapshot }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Gradle Cache
        uses: gradle/gradle-build-action@v2
      - name: Validate Gradle integrity
        uses: gradle/wrapper-validation-action@v1
      - name: Setup environment
        id: setup
        run: |
          if grep -qi "snapshot" versions.txt; then is_snapshot=true; else is_snapshot=false; fi
          echo "is_snapshot=$is_snapshot" >> "$GITHUB_OUTPUT"
          echo $is_snapshot

  deploy_snapshot:
    needs: [build]
    runs-on: ubuntu-latest
    if: github.repository == 'StefMa/gradle-play-publisher' && needs.build.outputs.is_snapshot == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Gradle Cache
        uses: gradle/gradle-build-action@v2
      - name: Build project
        run: ./gradlew assemble
      - name: Publish snapshot
        run: ./gradlew publishToSonatype
        env:
          SONATYPE_NEXUS_USERNAME: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          SONATYPE_NEXUS_PASSWORD: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
